.container {
	display: grid;
	width: 100%;
	height: 80vh;
	grid-template-columns: auto auto;
	background-color: rgb(240, 114, 10);
	text-align: center;
}

.bscook_image {
	width: 100%;
	height: 80vmin;
	padding: 0;
	margin: 0;
	opacity: 10;
}

.bsrestaurant_image {
	width: 100%;
	height: 80vmin;
	padding: 0;
	margin: 0;
	opacity: 10;
}

.footer {
	background-color: rgb(240, 114, 10);
	width: 100%;
	height: 20vh;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto auto;
	position: fixed;
	bottom: 0;
}

.bscook_message {
	margin: 0;
	padding: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 500;
	color: aliceblue;
}

.main_image {
	display: grid;
	justify-content: center;
	align-items: center;
}

.bsrestaurant_message {
	margin: 0;
	padding: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 500;
	color: aliceblue;
}

.box {
	margin: 0;
	padding: 0;
	opacity: 0.6;
}

a {
	text-decoration: none;
}